// Add any custom Sass & CSS here
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

// * {
//     outline: 1px solid red;
// }

body{
	max-width: 100vw;
}

a{
	text-decoration: none;
}

.FrontPage{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url('../data/images/front_page1.jpg');
	//background-color: black;
	color:#2c3e50;;
	height: 100vh;
	position:absolute;
	width: 100vw;
	margin-left: 0px;
	margin-right: 0px;

	.outer_box{
		min-height: 20vh;
		padding: 30px;
		position: relative;
		top:50%;
		left:50%;
		transform: translateY(-50%) translateX(-50%);
		background-color: white;

		.page_heading{
			font-size: 2.5em;
			padding: 10px;
			padding-bottom: 40px;

		}
		a{
			color: white;
		}
	}
}

.LoginPage{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url('../data/images/login.jpg');
	//background-color: black;
	color:#2c3e50;
	height: 100vh;
	position:absolute;
	width: 100vw;
	margin-left: 0px;
	margin-right: 0px;

	.outer_box{
		min-height: 20vh;
		padding: 30px;
		position: relative;
		top:50%;
		left:50%;
		transform: translateY(-50%) translateX(-50%);
		background-color: white;

		.page_heading{
			font-size: 2.5em;
			padding: 10px;
			padding-bottom: 40px;

		}
		a{
			color: white;
		}
		.button{
			float: right;
			margin-top: 15px;
		}
	}
}
.SignupPage{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url('../data/images/signup.png');
	//background-color: black;
	//color:#2c3e50;;
	height: 100vh;
	position:absolute;
	width: 100vw;
	margin-left: 0px;
	margin-right: 0px;

	.outer_box{
		min-height: 20vh;
		padding: 30px;
		position: relative;
		top:50%;
		left:50%;
		transform: translateY(-50%) translateX(-50%);
		background-color: white;

		.page_heading{
			font-size: 2.5em;
			padding: 10px;
			padding-bottom: 40px;

		}
		a{
			color: white;
		}
		.button{
			float: right;
			margin-top: 15px;
		}
	}
}

.ClassPage{
	background-color: #2c3e50;
	width: 100vw;
	min-height: 100vh;
	//overflow: hidden;
	margin: 0px;
	width: 100vw;
	.title{
		height: 100%;
		padding: 0px;
		border-right: 2px black;
		.heading{
			background-color: white;
			height: 18%;
			position: fixed;
			width: inherit;
			.heading_text{
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				text-align: center;
				font-size: 2.5em;
			}
		}
		.classes_left{
			position: fixed;
			color: white;
			height: 64%;
			top:18%;
			width: inherit;
			background-color: #2c3e50;
			
			.classes_left_heading{
				padding: 40px;
				font-size: 2em;
				padding-bottom: 30px;
			}

			.class_list{
				height: 40px;
				background-color: white;
				margin-top: 20px;
				margin-bottom: 20px;

				.class_list_title{
					position: relative;
					top: 50%;
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
					a{
						color: #2c3e50;
					}
				}
			}
		}
		.footer{
			background-color: white;
			height: 18%;
			position: fixed;
			top: 82%;
			width: inherit;
			.footer_buttons{
				padding: 50px;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				color: #2c3e50;
				.right{
					float: right;
				}
				button{
					margin-bottom: 0px;
				}
				a{
					color: white;
				}
			}
		}
	}
	.details{
		border-left:1px solid #2c3e50; 
		min-height: 100vh;
		//width: inherit;
		background-color: white;
		padding: 0px;
		overflow: hidden;

		.class_header{
			position: fixed;
			top:0px;
			background-color: #2c3e50;
			height: 6%;
			color: white;
			z-index: 30;
			border-left:1px solid #2c3e50;
			a{
				color: white;
			}

			.class_header_text{
				float: left;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				font-weight: bold;
			}
		}


		.class_details{
			padding: 15px;
			padding-top: 25px;
			top:6%;
			position: absolute;
			width: inherit;
			font-size: 2em;
			padding: 0px;
			//border-left:1px solid #2c3e50; 

			.class_details_heading{
				color:#f07c17;
				font-size: 1em;
			}

			.class_search{
				font-size: .8em;
				margin-top: 20px;
				.searchbox{
					width: 100%;
					margin-bottom: 20px;
					border: 1px solid black;
					height: 35px;
				}
				a{
					color: #2c3e50;
				}

				.fa-plus:hover{
					color: #A00000;
				}
				.fa-plus:active{
					color: white;
				}
			}

			.class_post{
				margin-top: 25px;
				font-size: .5em;
				a{
					color: #2c3e50;
				}
				.class_post_item{
					height: 80px;
					border: 4px solid #2c3e50;
					margin-bottom: 30px;
					position: relative;
					.class_post_title{
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}

.PostPage{
	background-color: #2c3e50;
	width: 100vw;
	min-height: 100vh;
	//overflow: hidden;
	margin: 0px;
	width: 100vw;
	.title{
		height: 100%;
		padding: 0px;
		border-right: 2px black;
		.heading{
			background-color: white;
			height: 18%;
			position: fixed;
			width: inherit;
			.heading_text{
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				text-align: center;
				font-size: 2.5em;
			}
		}
		.classes_left{
			position: fixed;
			color: white;
			height: 64%;
			top:18%;
			width: inherit;
			background-color: #2c3e50;
			
			.classes_left_heading{
				padding: 40px;
				font-size: 2em;
				padding-bottom: 30px;
			}

			.class_list{
				height: 40px;
				background-color: white;
				margin-top: 20px;
				margin-bottom: 20px;

				.class_list_title{
					position: relative;
					top: 50%;
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
					a{
						color: #2c3e50;
					}
				}
			}
		}
		.footer{
			background-color: white;
			height: 18%;
			position: fixed;
			top: 82%;
			width: inherit;
			.footer_buttons{
				padding: 50px;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				color: #2c3e50;
				.right{
					float: right;
				}
				button{
					margin-bottom: 0px;
				}
				a{
					color: white;
				}
			}
		}
	}
	.details{
		border-left:1px solid #2c3e50; 
		min-height: 100vh;
		//width: inherit;
		background-color: white;
		padding: 0px;
		overflow: hidden;
	
		.post_back{
			height: 8%;
			top:0%;
			position: fixed;
			font-size: 1.3em;
			position: absolute;
			width: inherit;

			.post_back_heading{
				a{
					color: #2c3e50;
				}
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding-left: 10px;
			}

		}
		.post_details{
			padding: 15px;
			padding-top: 0px;
			position: absolute;
			width: inherit;
			top: 8%;
			height: 8%;
			font-size: 2em;
			
			.post_details_heading{
				color:#f07c17;
				font-size: .65em;
			}
		}
		.post_description{
			position: absolute;
			top:16%;
			width: inherit;
			min-height: 84%;
			.post_description_box{
				padding: 20px;
				padding-top: 5px;
				.post_description_heading{
					font-size: 1.4em;
					color: #2c3e50;
				}
				.post_description_text{
					margin-top: 20px;
				}
			}
			.post_comment_box{
				//margin-top: 20px;
				padding:20px;
				padding-top: 5px;
				.post_comment_heading{
					font-size: 1.4em;
					color: #2c3e50;
				}
				.post_comment_text{
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
			.post_comments{
				padding: 20px;
				padding-top: 5px;
				.post_comment_heading{
					font-size: 1.4em;
					color: #2c3e50;
				}
				button{
					float: right;
				}
			}
		}

	}
}

.AddPostPage{
	background-color: #2c3e50;
	width: 100vw;
	min-height: 100vh;
	//overflow: hidden;
	margin: 0px;
	width: 100vw;
	.title{
		height: 100%;
		padding: 0px;
		border-right: 2px black;
		.heading{
			background-color: white;
			height: 18%;
			position: fixed;
			width: inherit;
			.heading_text{
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				text-align: center;
				font-size: 2.5em;
			}
		}
		.classes_left{
			position: fixed;
			color: white;
			height: 64%;
			top:18%;
			width: inherit;
			background-color: #2c3e50;
			
			.classes_left_heading{
				padding: 40px;
				font-size: 2em;
				padding-bottom: 30px;
			}

			.class_list{
				height: 40px;
				background-color: white;
				margin-top: 20px;
				margin-bottom: 20px;

				.class_list_title{
					position: relative;
					top: 50%;
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
					a{
						color: #2c3e50;
					}
				}
			}
		}
		.footer{
			background-color: white;
			height: 18%;
			position: fixed;
			top: 82%;
			width: inherit;
			.footer_buttons{
				padding: 50px;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				color: #2c3e50;
				.right{
					float: right;
				}
				button{
					margin-bottom: 0px;
				}
				a{
					color: white;
				}
			}
		}
	}
	.details{
		border-left:1px solid #2c3e50; 
		min-height: 100vh;
		//width: inherit;
		background-color: white;
		padding: 0px;
		overflow: hidden;
	
		.post_back{
			height: 8%;
			top:0%;
			position: fixed;
			font-size: 1.3em;
			position: absolute;
			width: inherit;

			.post_back_heading{
				a{
					color: #2c3e50;
				}
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding-left: 10px;
			}

		}
		.post_details{
			padding: 15px;
			padding-top: 0px;
			position: absolute;
			width: inherit;
			top: 8%;
			height: 8%;
			font-size: 2em;
			
			.post_details_heading{
				color:#f07c17;
				font-size: .8em;
			}
		}
		.post_description{
			position: absolute;
			top:16%;
			width: inherit;
			min-height: 84%;
			.post_comments{
				padding: 20px;
				padding-top: 5px;
				.description{
	    			height: 120px;
				}
				button{
					float: right;
				}
			}
		}
	}
}

.EditPage{
	background-color: #2c3e50;
	width: 100vw;
	min-height: 100vh;
	//overflow: hidden;
	margin: 0px;
	width: 100vw;
	.title{
		height: 100%;
		padding: 0px;
		border-right: 2px black;
		.heading{
			background-color: white;
			height: 18%;
			position: fixed;
			width: inherit;
			.heading_text{
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				text-align: center;
				font-size: 2.5em;
			}
		}
		.classes_left{
			position: fixed;
			color: white;
			height: 64%;
			top:18%;
			width: inherit;
			background-color: #2c3e50;
			
			.classes_left_heading{
				padding: 40px;
				font-size: 2em;
				padding-bottom: 30px;
			}

			.class_list{
				height: 40px;
				background-color: white;
				margin-top: 20px;
				margin-bottom: 20px;

				.class_list_title{
					position: relative;
					top: 50%;
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
					a{
						color: #2c3e50;
					}
				}
			}
		}
		.footer{
			background-color: white;
			height: 18%;
			position: fixed;
			top: 82%;
			width: inherit;
			.footer_buttons{
				padding: 50px;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				color: #2c3e50;
				.right{
					float: right;
				}
				button{
					margin-bottom: 0px;
				}
				a{
					color: white;
				}
			}
		}
	}
	.details{
		border-left:1px solid #2c3e50; 
		min-height: 100vh;
		//width: inherit;
		background-color: white;
		padding: 0px;
		overflow: hidden;

		.fa-trash:hover{
			color: red;
		}
	
		.post_back{
			height: 8%;
			top:0%;
			position: fixed;
			font-size: 1.3em;
			position: absolute;
			width: inherit;

			.post_back_heading{
				a{
					color: #2c3e50;
				}
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding-left: 10px;
			}

		}
		.post_details{
			padding: 15px;
			padding-top: 0px;
			position: absolute;
			width: inherit;
			top: 8%;
			height: 8%;
			font-size: 2em;
			
			.post_details_heading{
				color:#f07c17;
				font-size: .9em;
			}

			.message{
				font-size: .55em;
			}
		}
		.post_description{
			position: absolute;
			top:16%;
			width: inherit;
			min-height: 84%;
			.post_comments{
				padding: 20px;
				padding-top: 5px;

				.post_comments_heading{
					font-size: 1.4em;
					margin-bottom: 20px;
				}

				.post-add{
					padding-left: 20px;
					button{
						float: right;
					}
				}

				.post-comments-list{
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.OfficeHoursPage{
	background-color: #2c3e50;
	width: 100vw;
	min-height: 100vh;
	//overflow: hidden;
	margin: 0px;
	width: 100vw;
	.title{
		height: 100%;
		padding: 0px;
		border-right: 2px black;
		.heading{
			background-color: white;
			height: 18%;
			position: fixed;
			width: inherit;
			.heading_text{
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				text-align: center;
				font-size: 2.5em;
			}
		}
		.classes_left{
			position: fixed;
			color: white;
			height: 64%;
			top:18%;
			width: inherit;
			background-color: #2c3e50;
			
			.classes_left_heading{
				padding: 40px;
				font-size: 2em;
				padding-bottom: 30px;
			}

			.class_list{
				height: 40px;
				background-color: white;
				margin-top: 20px;
				margin-bottom: 20px;

				.class_list_title{
					position: relative;
					top: 50%;
					left: 50%;
					transform: translateY(-50%) translateX(-50%);
					a{
						color: #2c3e50;
					}
				}
			}
		}
		.footer{
			background-color: white;
			height: 18%;
			position: fixed;
			top: 82%;
			width: inherit;
			.footer_buttons{
				padding: 50px;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				color: #2c3e50;
				.right{
					float: right;
				}
				button{
					margin-bottom: 0px;
				}
				a{
					color: white;
				}
			}
		}
	}
	.details{
		border-left:1px solid #2c3e50; 
		min-height: 100vh;
		//width: inherit;
		background-color: white;
		padding: 0px;
		overflow: hidden;

		.class_header{
			position: fixed;
			top:0px;
			background-color: #2c3e50;
			height: 6%;
			color: white;
			z-index: 30;
			border-left:1px solid #2c3e50;
			a{
				color: white;
			}

			.class_header_text{
				float: left;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				font-weight: bold;
			}
		}


		.class_details{
			padding: 15px;
			padding-top: 25px;
			top:6%;
			position: absolute;
			width: inherit;
			font-size: 2em;
			padding: 0px;
			//border-left:1px solid #2c3e50; 

			.class_details_heading{
				color:#f07c17;
				font-size: 1em;
			}

			.class_search{
				font-size: .8em;
				margin-top: 20px;
				.searchbox{
					width: 100%;
					margin-bottom: 20px;
					border: 1px solid black;
					height: 35px;
				}
				a{
					color: #2c3e50;
				}

				.fa-plus:hover{
					color: #A00000;
				}
				.fa-plus:active{
					color: white;
				}

				.columns {
					padding-left: 0;
				}

				.button {
					float: right;
				}

				select {
					width: 95%;
				}
			}

			.class_post{
				margin-top: 25px;
				font-size: .5em;
				a{
					color: #2c3e50;
				}
				.class_post_item{
					height: 80px;
					border: 4px solid #2c3e50;
					margin-bottom: 30px;
					position: relative;
					.class_post_title{
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
	}
}

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.ng-invalid .button {
  background: gray;
}

.error {
  color: red;
  padding-bottom: 10px;
}