<div class="EditPage">
	<div class="medium-3 columns title">
		<div class="row heading">
			<div class="heading_text">
				<i class="fa fa-book"></i> ClassRoom
			</div>
		</div>
		<div class="row classes_left">
			<div class="text-center large-12 classes_left_heading">Classes</div>
			<div ng-repeat="class in classlist" class="large-6 large-centered text-center class_list">
				<div class="class_list_title"><a href="#/class/{{classlist.indexOf(class)}}">{{class.class}}</a></div> 
			</div>
		</div>
		<div class="row footer"> 
			<div class="footer_buttons">
				<button class="button"><i class="fa fa-cog" aria-hidden="true"></i> Classes</button>
				<button class="button right"><a href="#/"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></button>
			</div>
		</div>
	</div><div class="medium-9 columns details">
		<div class="row post_back">
			<div class="large-12 post_back_heading">
				<a ng-href="#/class/{{class}}" class="fa fa-arrow-left" aria-hidden="true"></a>
				to Class Page
			</div>
		</div>
		<div class="row post_details">
			<div class="large-12 text-center post_details_heading">
					Edit Classes
			</div>
		</div>
		<div class="row post_description">
			<div class="large-12 post_comments">
				<div class="large-12 post_comments_heading">Current Classes:</div>
				<div class="row post-comments-list" ng-repeat="class in classlist">
					<div class="large-10 columns post-comment-list-name">{{class.class}}</div>
					<div class="large-2 columns post-comment-list-name text-center">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="large-12 post_comments">
				<div class="large-12 post_comments_heading">Add Class:</div>
				<div class="row post-add">
					<div class="large-12">Hello</div>
				</div>
			</div>
		</div>
	</div>
</div>